body {
  font-family: 'Montserrat', sans-serif;
  color: midnightblue;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 6rem;
}



.link-col {
  text-align: center;
}

a.top-link:link, :visited, :hover {
  color: midnightblue;
  text-decoration: none;
}