body {
  font-family: 'Montserrat', sans-serif;
  color: midnightblue;
  background-color: #FAFAFA;
  text-align: center;
}

nav {
  margin-bottom: 10px;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 10rem;
  margin-top: 5%;
}

h2 /* Hobby it */ {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 10%;
  letter-spacing: 10px;
}

.tagline /* Hobby with person */ {
  font-size: 3rem;
  letter-spacing: 5px;
  margin-bottom: 5%;
}

h3 {
  font-family: 'Lobster', cursive;
  color: #FAFAFA;
  font-size: 6rem;
}

.jumbotron {
  height: 50vh;
  width: 100vw;
}

.jumbo-scuba {
  background: url("images/tom-scuba.png") no-repeat center center;
  background-size: cover;
}

.jumbo-climb {
  background: url("images/climb1.jpg") no-repeat center center;
  background-size: cover;
}

.jumbo-motorbike {
  background: url("images/motorbike1.jpg") no-repeat center center;
  background-size: cover;
}

.carousel-image {
  width: 100%;
}

#myCarousel {
  overflow-x: hidden;
}

.glyphicon {
  color: white;
}

.glyphicon:hover {
  color: white;
}

.hobby-thumb {
  width: 100%;
  max-height: 270px;
}

a.thumb-link:link, a.thumb-link:visited, a.thumb-link:hover {
  text-decoration: none;
  color: midnightblue;
}

.link-col {
  text-align: center;
}

.footer {
  background-color: #EEEEEE;
  margin-top: 25%;
}

a.top-link:link, a.top-link:visited, a.top-link:hover {
  color: midnightblue;
  text-decoration: none;
}

a.social-media:link, a.social-media:visited, a.social-media:hover {
  text-decoration: none;
  color: midnightblue;
  font-size: 32px;
}

.articles {
  text-align: left;
}